
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme{
    --font-primary: "Roboto",sans-serif;
    --color-primary :#FF383C;
    --color-heading :#30344E;
    --color-secondary :#52C5B6;
    --color-para :#5B5F77; 

}

body{
    font-family: var(--font-primary);
}
@layer components{
     .wrapper{
        @apply max-w-330 mx-auto w-full px-4 sm:px-6 md:px-8
       
    }
}

/* clerk user button adjust */
.cl-avatarBox{
width: 3rem;
height: 3rem;
}

/* arrows */

.arrows{
    height: 40px;
    width: 40px;
    margin: 1px;
}

/* Input colors */

input{
    background-color:#ffffff;
    accent-color: red;
    border: 1px solid gainsboro;
    color: #333;

}